.root{
    margin-top: 10px;
    height: auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.app{
    background-color: #121212;
    color: white;
    margin: 0;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #121212;
}
#footer-content {
    text-align-last: center;
    align-content: center;
    /*padding: 5px;*/
}
#table{
    height: 675px;
    overflow: hidden;
}
